{% extends 'base.html' %}
{% load i18n %}

{% load static %}

{% block title %}Blog{% endblock title %}

{% block css_style %}
<link rel="stylesheet" href="{% static 'blog/css/about_me.css' %}">{% endblock css_style %}
{% block css_responsive %}
<link rel="stylesheet" href="{% static 'blog/css_responsive/about_me_responsive.css' %}">{% endblock css_responsive %}


{% block content %}

<div class="main_section">
    <div class="container">
        {% include 'includes/left_section.html' %}

        <div class="right_section">
            <div class="top_section">
                <h3 class="heading_text">{% trans 'About Me' %}</h3>
                <div class="details_text">
                    <p>{{profile.full_text|safe}}</p>
                </div>

                <h3 class="heading_text">{% trans 'My Skills:' %}</h3>

                <div class="couple_title_details">
                    {% for mainskill in profile.mainskill_set.all %}

                    <div class="single_details">
                        <h5>{{mainskill.skill_name}}</h5>
                        <p>{{mainskill.skill_description|safe}}</p>
                    </div>

                    {% endfor %}
                   

                </div>
                

                <h4>{% trans 'Additional skills' %}</h4>
                <div class="btn_group">
                    {% for skill in profile.skill_set.all %}
                    <a>{{skill.skill_name}}</a>
                    {% endfor %}
                </div>

            </div>

            <div class="bottom_section">
                <div class="bottom_heading_text">
                    <h3 class="heading_text">{% trans 'My projects' %}</h3>
                </div>

                <div class="card_section_parent">

                    
                    {% for project in main_projects  %}
                    <div class="single_card">
                        <a href="{% url 'project_detail' project.slug %}">
                            <div class="image_section">
                                <img src="{{ project.cover.url }}" alt="image">
                            </div>
                        </a>
                        <div class="text_section">
                            <a href="{% url 'project_detail' project %}"><h3>{{project.project_name}}</h3></a>
                            <p>{{project.project_shortdescription}}</p>
                            <div class="btn_group">

                                {% for stack in project.stack.all %}
                                <a>{{stack}}</a>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    

                </div>
            </div>

        </div>
    </div>

</div>

{% endblock content %}