{% extends 'base.html' %}

{% load static %}
 
{% block title %}Blog{% endblock title %}

{% block css_style %}<link rel="stylesheet" href="{% static 'blog/css/home.css' %}">{% endblock css_style %}
{% block css_responsive %}<link rel="stylesheet" href="{% static 'blog/css_responsive/home_responsive.css' %}">{% endblock css_responsive %}


{% block content %}
<div class="main_section">
    <div class="container">
        <div class="left_section">
            <div class="top_section">
                <h3>
                    Lorem ipsum dolor sit amet, consectetur ada consectetur
                </h3>
                <div class="user_image">
                    <img src="{% static 'images/user.png' %}" alt="image">
                    <a href="{% url 'contact_me' %}"><div class="overly"></div></a>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliquadunt ut labore et dolore magna aliqua ut labore et dolore magna
                    aliqua</p>
                <a href="{% url 'contact_me' %}">CONTACT ME</a>
            </div>

            <div class="bottom_section">
                <p>contact@gmail.com</p>
                <div class="social_icons">
                    <a href="#">
                        <img src="{% static 'images/Icon_11_.svg' %}" alt="icon">
                    </a>
                    <a href="#">
                        <img src="{% static 'images/Icon_11_.svg' %}" alt="icon">
                    </a>
                    <a href="#">
                        <img src="{% static 'images/Icon_11_.svg' %}" alt="icon">
                    </a>
                </div>
            </div>
        </div>
        <div class="middle_section">
            <div class="top_bar">
                <a href="#" class="active">Latest</a>
                <a href="#">Top</a>
            </div>


            <div class="latest_all_cards">
            {% if page_post %}
                {% for post in page_post  %}
                <div class="latest_card">
                    <div class="image_section">
                        <a href="{% url 'post' post %}"><img src="{% static 'images/card1.png' %}" alt="image"></a>
                    </div>
                    <div class="text_section">
                        <a href=" {% url 'post' post %}">
                            <h3>Dealing with data in microservice architectures - part 4 - Event-driven
                                architectures</h3>
                        </a>
                        <h5>22 May 2022</h5>
                        <div class="tags">
                            <a href="#">
                                <span>#</span>
                                eventdriven
                            </a>
                            <a href="#">
                                <span>#</span>
                                news
                            </a>
                            <a href="#">
                                <span>#</span>
                                testing
                            </a>
                        </div>
                        <div class="react_section">
                            <div class="react_count">
                                <div class="single_react">
                                    <button>
                                        <img src="{% static 'images/heart.svg' %}" alt="">
                                    </button>
                                    <p>5 reaction</p>
                                </div>
                                <div class="single_react">
                                    <button>
                                        <img src="{% static 'images/comment.svg' %}" alt="">
                                    </button>
                                    <p>3 comment</p>
                                </div>

                            </div>
                            <div class="save_btn" id="save_btn">
                                <a href="javascript:">Save</a>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            </div>



            <div class="pagination">
                {% if page_post.has_other_pages %}
                    {% if page_post.has_previous %}
                    <button><a href="?page={{page_post.previous_page_number}}">Previous</a></button>
                    {% endif %}
                    
                    {% for i in page_post.paginator.page_range %}
                        {% if page_post.number == i %}
                            <button class="active">{{i}}</button>
                        {% else %}
                            <a href="?page={{i}}"><button >{{i}}</button></a>
                        {% endif %}
                    {% endfor %}

                    {% if page_post.has_next %}
                    <a href="?page={{page_post.next_page_number}}"><button>Next</button></a>
                    {% endif %}
                    
                {% endif %}
            </div>

        </div>
        <div class="right_section">

            <div class="search_bar">
                <form action="" class="search" method="GET">
                    <input type="text" placeholder="Search…." id="searchbar" name="search">
                    <img src="{% static 'images/Icon ionic-ios-search.svg' %}" alt="image">
                </form>
            </div>

            <!-- <script>
                let search = document.getElementsById("search-bar")

                search.addEventListener("keyup", e => {
                    e.preventDefault();
                    if (e.keyCode === 13) {
                        console.log("Enter pressed")
                    }
                })
            </script> -->

            <div class="fixed_right_nav">
                <div class="category_nav">

                    <!--New Added:  category-nav-heading  -->
                    <div class="heading" id="category-nav-heading">
                        <h3 class="dropdown-toggle">Categories <span><img src="{% static 'images/res_down.svg' %}"
                                    alt=""></span></h3>
                    </div>
                    <!--New Added:  toggle-container  and  dropdown-menu -->
                    <div class="all_drop_down toggle-container" id="dropdown-menu">
                        <ul class="drop_parent">
                            <li>
                                <a><span><img src="{% static 'images/down.svg' %}" alt="images"></span> Category</a>
                                <ul>
                                    <li>
                                        <a href="#">Subcategory</a>
                                    </li>
                                    <li>
                                        <a href="#">Subcategory</a>
                                    </li>
                                    <li>
                                        <a href="#">Subcategory</a>
                                    </li>
                                    <li>
                                        <a href="#">Subcategory</a>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                        <ul class="drop_parent">
                            <li>
                                <a><span><img src="{% static 'images/down.svg' %}" alt="images"></span> Category</a>
                                <ul>
                                    <li>
                                        <a href="#">Subcategory</a>
                                    </li>
                                    <li>
                                        <a href="#">Subcategory</a>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a><span><img src="{% static 'images/down.svg' %}" alt="images"></span> Category</a>
                                <ul>
                                    <li>
                                        <a href="#">Subcategory</a>
                                    </li>
                                </ul>

                            </li>
                        </ul>

                    </div>

                </div>


                <div class="info_tags">
                    <div class="heading">
                        <h3>Tags</h3>
                    </div>

                    <div class="tag_list">
                        <div class="list_items">
                            <a href="#">
                                <span>#</span>
                                eventdriven
                            </a>
                            <a href="#">
                                <span>#</span>
                                news
                            </a>
                            <a href="#">
                                <span>#</span>
                                testing
                            </a>
                            <a href="#">
                                <span>#</span>
                                eventdriven
                            </a>
                            <a href="#">
                                <span>#</span>
                                eventdriven
                            </a>
                            <a href="#">
                                <span>#</span>
                                news
                            </a>
                            <a href="#">
                                <span>#</span>
                                testing
                            </a>
                            <a href="#">
                                <span>#</span>
                                eventdriven
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}