{% extends 'base.html' %}
{% load i18n %}


{% load static %}
 
{% block title %}Blog{% endblock title %}

{% block css_style %}<link rel="stylesheet" href="{% static 'blog/css/home.css' %}">{% endblock css_style %}
{% block css_responsive %}<link rel="stylesheet" href="{% static 'blog/css_responsive/home_responsive.css' %}">{% endblock css_responsive %}


{% block content %}
<div class="main_section">
    <div class="container">

        {% include 'includes/left_section.html' %}

        <div class="middle_section">
            <div class="top_bar">
                {% if 'search' in request.path %}
                <a class="active">{% trans 'Search resoults:' %}</a>
                {% else%}
                {% if 'category' in request.path %}
                {% else %}
                <a href="{% url 'home' %}" {% if 'top' in request.path %}{% else %} class="active" {% endif %}>{% trans 'Latest' %}</a>
                <a href="{% url 'home_top' %}" {% if 'top' in request.path %} class="active" {% endif %}>{% trans 'Top' %}</a>
                {% endif %}
                {% endif %}
            </div>


            <div class="latest_all_cards">
            {% if page_post %}
                {% for post in page_post  %}
                <div class="latest_card">
                    <div class="image_section">
                        <a href="{% url 'post' post.slug %}"><img src="{{post.cover.url }}" alt="image"></a>
                    </div>
                    <div class="text_section">
                        <a href=" {% url 'post' post.slug %}">
                            <h3>{{post.title}}</h3>
                        </a>
                        <h5>{{post.created_date|date}}</h5>
                        
                        <div class="tags">
                            {% for tag in post.tags.all %}
                            <a href="#">
                                <span>#</span>
                                {{tag}}
                            </a>
                            {% endfor %}

                        </div>
                        <div class="react_section">
                            <div class="react_count">
                                <div class="single_react">
                                    <button>
                                        <img src="{% static 'images/heart.svg' %}" alt="">
                                    </button>
                                    <p>{{post.heart_count}} reaction</p>
                                </div>
                                <div class="single_react">
                                    <button>
                                        <img src="{% static 'images/comment.svg' %}" alt="">
                                    </button>
                                    <p>{{post.comment_count}} comment</p>
                                </div>

                            </div>

                            <!-- <div class="save_btn">
                                <a href="javascript:">Save</a>
                            </div> -->

                            {% if post.id|slugify in stored_posts %}
                            <div class="save_btn active" id="save_btn">
                                <form action="{% url 'save_post' %}" method="POST">
                                    {% csrf_token %}
                                    
                                    <button><input type="hidden" value="{{ post.id }}" name="post_id">Post Saved</button>
                                </form>
                            </div>
                            {% else %}
                            <div class="save_btn" id="save_btn">
                                <form action="{% url 'save_post' %}" method="POST">
                                    {% csrf_token %}
                                    
                                    <button><input type="hidden" value="{{ post.id }}" name="post_id">Read later</button>
                                </form>
                            </div>
                            {% endif %}
                            
                            

                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h2>{% trans 'No matching resoults' %}</h2>
            {% endif %}
            </div>



            <div class="pagination">
                {% if page_post.has_other_pages %}
                    {% if page_post.has_previous %}
                    <button><a href="?page={{page_post.previous_page_number}}">Previous</a></button>
                    {% endif %}
                    
                    {% for i in page_post.paginator.page_range %}
                        {% if page_post.number == i %}
                            <button class="active">{{i}}</button>
                        {% else %}
                            <a href="?page={{i}}"><button >{{i}}</button></a>
                        {% endif %}
                    {% endfor %}

                    {% if page_post.has_next %}
                    <a href="?page={{page_post.next_page_number}}"><button>Next</button></a>
                    {% endif %}
                    
                {% endif %}
            </div>

        </div>

        {% include 'includes/right_section.html' %}
        
    </div>

</div>
{% endblock content %}