{% extends 'base.html' %}
{% load i18n %}

{% load static %}

{% block title %}Blog{% endblock title %}

{% block css_style %}
<link rel="stylesheet" href="{% static 'blog/css/project_detail.css' %}">{% endblock css_style %}
{% block css_responsive %}
<link rel="stylesheet" href="{% static 'blog/css_responsive/project_detail_responsive.css' %}">{% endblock css_responsive %}


{% block content %}

<div class="main_section">
    <div class="container">
        
        {% include 'includes/left_section.html' %}
        
        <div class="right_section">
            <div class="top_section">
                <div class="banner_image">
                    {% if project.image.url %}
                    <img src="{{ project.image.url }}" alt="">
                    {% endif %}
                </div>
                <div class="top_section_container">
                    <div class="heading">
                        <h3>{{ project.project_name }}</h3>
                    </div>

                    <div class="para_text">
                        <p>{{project.project_fulldescription}}</p>
                    </div>

                    <!-- <div class="container_image first">
                        <img src="{% static 'images/image_first.jpg' %}" alt="image">
                    </div> -->

                    <!-- <div class="container_image second">
                        <img src="{% static 'images/image_second.jpg' %}" alt="image">
                    </div> -->

                    <div class="heading_two">
                        <h3>{% trans 'Stack:' %}</h3>
                    </div>
                    <div class="btn_group">
                        {% for stack in project.stack.all %}
                        <a>{{ stack }}</a>
                        {% endfor %}
                    </div>
                </div>
                
            </div>

        </div>
        
    </div>

</div>

{% endblock content %}