{% load i18n %}

{% load static %}
<div class="footer">
    <ul>
        <li>
            <a href="#" class="page_link">{% trans 'Posssts' %}</a>
        </li>
        <li>
            <a href="#">Lorem</a>
        </li>
        <li>
            <a href="#" class="footer_logo">
                <img src="{% static 'images/logo_footer.svg' %}" alt="images" width="70">
            </a>
        </li>
        <li>
            <a href="#" class="page_link">Lorem</a>
        </li>
        <li>
            <a href="#">Lorem</a>
        </li>
    </ul>

</div>
<!-- <script>
    function setEqualHeight() {
        var maxscroll = window.scrollMaxY;
        if (maxscroll < 1) {
            document.querySelector(".footer").classList.add("no_scroll");
        } else {
            document.querySelector(".footer").classList.remove("no_scroll");
        }
    }
    setEqualHeight();
    window.onresize = setEqualHeight;
</script> -->