{% load i18n %}

{% load static %}
<div class="footer">
    <ul>
        <li>
            <a href="#" class="page_link">{% trans 'Posssts' %}</a>
        </li>
        <li>
            <a href="#">Lorem</a>
        </li>
        <li>
            <a href="#" class="footer_logo">
                <img src="{% static 'images/logo_footer.svg' %}" alt="images" width="70">
            </a>
        </li>
        <li>
            <a href="#" class="page_link">Lorem</a>
        </li>
        <li>
            <a href="#">Lorem</a>
        </li>
    </ul>

</div>