{% load i18n %}

{% load static %}
<div class="footer">
    <ul>

        <!-- <li>
            <a href="{% url 'home' %}" class="page_link">{% trans 'Posts' %}</a>
        </li> -->
        <li>
            <a href="#" class="footer_logo">
                <img src="{% static 'images/logo_footer.svg' %}" alt="images" width="70">
            </a>
        </li>
        <!-- <li>
            <a href="{% url 'contact_me' %}" class="page_link">{% trans 'Contact' %}</a>
        </li> -->
    </ul>

</div>
<!-- <script>
    function setEqualHeight() {
        var maxscroll = window.scrollMaxY;
        if (maxscroll < 1) {
            document.querySelector(".footer").classList.add("no_scroll");
        } else {
            document.querySelector(".footer").classList.remove("no_scroll");
        }
    }
    setEqualHeight();
    window.onresize = setEqualHeight;
</script> -->