{% load i18n %}
{% load static %}

<div class="left_section">
    <div class="top_section">
        <h3>
            {{short_description.up_text}}
        </h3>
        <div class="user_image">
            <img src="{{short_description.photo.url}}" alt="image">
            <a href="{% url 'contact_me' %}"><div class="overly"></div></a>
        </div>
        <p>{{short_description.down_text}}</p>
        <a href="{% url 'contact_me' %}">CONTACT ME</a>
    </div>

    <div class="bottom_section">
        <p>{{short_description.email}}</p>
        <div class="social_icons">
            {% if short_description.fb_link %}
            <a href="short_description.fb_link">
                <img src="{% static 'images/Icon_11_.svg' %}" alt="icon">
            </a>
            {% endif %}

            {% if short_description.github_link %}
            <a href="short_description.fb_link">
                <img src="{% static 'images/Icon_11_.svg' %}" alt="icon">
            </a>
            {% endif %}

            {% if short_description.linkedin_link %}
            <a href="short_description.fb_link">
                <img src="{% static 'images/Icon_11_.svg' %}" alt="icon">
            </a>
            {% endif %}
            
            {% if short_description.instagram_link %}
            <a href="short_description.fb_link">
                <img src="{% static 'images/Icon_11_.svg' %}" alt="icon">
            </a>
            {% endif %}

            

        </div>
    </div>
</div>