@media (min-width: 1200px) and (max-width: 1449px) {
    .container {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .main_section .container .middle_section {
        width: 62%;
    }

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section h3 {
        font-size: 30px;
        font-weight: 600;
        color: #201E26;
        line-height: 37px;
        width: 96%;
    }

    .main_section .container .right_section {
        width: 28%;
    }

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section {
        padding-left: 30px;
    }

    .main_section .container .middle_section .discussion_part {
        max-width: 93%;
    }

    .main_section .container .middle_section form {
        max-width: 93%;
    }



}

@media (min-width: 768px) and (max-width: 991px) {
    .responsive_bar {
        display: block;
    }

    .container {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .header_section .container {
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
    }

    .header_section .container ul {
        position: absolute;
        left: -2000px;
        display: none;
        height: 100vh;
        top: 0;
        width: 50%;
        background: #FFF;
        flex-direction: column;
        box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .header_section .container ul.active {
        display: block;
        animation: show_nav .5s forwards;
    }

    .header_section .container ul li {
        width: 100%;

    }

    .header_section .container ul li a {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 0px;
        display: block;
        text-align: center;
    }

    .header_section .container ul li a::after {
        left: 0px;
        height: 2px;
        width: 48%;
    }

    .header_section .container ul li a::before {
        right: 0px;
        height: 2px;
        width: 48%;
    }

    .main_section .container .left_section {
        display: none;
    }

    .main_section .container .middle_section {
        margin-left: 0px;
        width: 65%;
        box-shadow: none;
        border: none;
        background: transparent;
        padding-bottom: 0;
        /* margin-bottom: 20px; */
    }

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section {
        padding-left: 10px;
    }

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section .details_text .react_icon {
        display: block;
    }

    /* added
    .main_section .container .middle_section .latest_all_cards .latest_card .text_section .details_text .react_icon .mobile.form {
        display: block;
        max-width: 3%;
        border: None;
        color: #201E26;
        background-color: #201E26;
        box-shadow: none;
    } */

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section .details_text .react_icon .mobile.form.active {
        display: block;
        width: auto;
        height: auto;
        border: 1px;
        /* /* color: #201E26; */
        background-color: #201E26;
        /* box-shadow: none; */
    }



    .main_section .container .middle_section .discussion_part .discussion_card .discussion_footer_part p {
        font-size: 16px;
        line-height: 20px;
    }

    .main_section .container .middle_section .discussion_part .discussion_card .header_part h4 span {
        display: inline-block;
    }

    .main_section .container .middle_section .discussion_part .discussion_card {
        padding-bottom: 15px;
    }

    .main_section .container .right_section {
        width: 32%;
        margin-bottom: 20px;
    }

    .tag_list .list_items a {
        margin-left: 1px;
        margin-right: 1px;
        font-size: 13px;
    }

}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .header_section .container ul.active {
        animation: show_nav .5s forwards;
    }

    .header_section .container ul li {
        width: 100%;

    }

    .header_section .container ul li a {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 0px;
        display: block;
        text-align: center;
    }

    .header_section .container ul li a::after {
        left: 0px;
        height: 2px;
        width: 48%;
    }

    .header_section .container ul li a::before {
        right: 0px;
        height: 2px;
        width: 48%;
    }

    .responsive_bar {
        display: block;
    }

    /* .header_section .container {
        justify-content: space-between;
        padding-right: 1.30rem;
        padding-left: 0.75rem;
    } */
    .header_section .container {
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 12px;
    }

    .header_section .container ul {
        position: absolute;
        left: -2000px;
        height: 100vh;
        top: 0;
        width: 50%;
        background: #fff;
        flex-direction: column;
        box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .responsive_bar {
        display: block;
    }

    /* .container{
        padding-right: .75rem;
        padding-left: .75rem;
    } */

    /* .header_section .container ul {
        display: none;
    } */

    .main_section .container .middle_section form {
        border-radius: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .main_section .container .middle_section form .form_group {
        margin-bottom: 13px;
        margin-left: 0px;
    }

    .main_section .container {
        flex-direction: column;
    }

    .main_section .container .left_section {
        display: none;
    }

    .main_section .container .middle_section {
        margin-left: 0;
        margin-right: 10px;
        width: 100%;
        order: 2;
        border: none;
        box-shadow: none;
        background: transparent;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .main_section .container .right_section {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 95%;
        order: 1;
        margin-bottom: 20px;
    }

    .main_section .container .right_section .info_tags {
        display: none;
    }

    .latest_all_cards {
        background: #FFF;
        border-radius: 10px;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
        border: 1px solid #D7D7D9;
        margin-right: .75rem;
        margin-left: .75rem;
    }

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section {
        border-bottom: 0;
        padding-bottom: 0;
        padding-left: 10px;
    }

    .toggle-container {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
    }

    .toggle-container.active {
        transition: max-height 0.4s ease-in-out;
        max-height: 900px;
        display: block;
    }

    .bb-0 {
        border-bottom: 1px solid #E9E9E9 !important;
    }

    .main_section .container .right_section .category_nav .heading {
        padding-left: 20px;
        padding-right: 22px;
        border-bottom: 0px;
    }

    .main_section .container .right_section .category_nav .heading h3 {
        display: flex;
        justify-content: space-between;
    }

    .main_section .container .right_section .category_nav .heading h3 span {
        transition: .4s;
        display: inline-block;
    }

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section h3 {
        font-size: 18px;
        line-height: 25px;
    }

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section h5 {
        font-size: 13px;
        margin-bottom: 6px;
        margin-top: 0;
    }

    .main_section .container .middle_section .discussion_part .discussion_card .header_part h4 {
        font-size: 16px;
        margin-right: 0;
    }

    .main_section .container .middle_section .discussion_part .discussion_card .header_part h4 span {
        display: inline-block;
    }

    .main_section .container .middle_section .discussion_part .discussion_card .discussion_footer_part p {
        font-size: 16px;
        line-height: 19px;
        padding-top: 10px;
    }

    .main_section .container .middle_section .discussion_part .discussion_heading {
        padding-top: 18px;
        padding-bottom: 0px;
    }

    .main_section .container .middle_section .discussion_part .discussion_heading h3 {
        font-size: 18px;
    }

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section h5.first_date {
        display: block;
    }

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section h5.last_date {
        display: none;
    }

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section .react_section .react_count .single_react button {
        margin-top: 5px;
    }

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section .react_section .react_count .single_react p {
        font-size: 13px;
    }

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section .react_section .save_btn a {
        padding: 5px 8px;
        font-size: 13px;
    }

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section .details_text {
        padding-top: 18px;
        padding-bottom: 0px;
    }

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section .details_text p {
        font-size: 16px;
        line-height: 19px;
        max-width: 98%;
    }

    .main_section .container .middle_section form .form_heading h3 {
        font-size: 18px;
    }

    .main_section .container .middle_section form .form_group label {
        font-size: 16px;
        font-weight: 400;
    }

    .main_section .container .middle_section form button {
        padding: 10px 20px 10px 20px;
        font-size: 15px;
        font-weight: 700;
        margin-left: auto;
        display: block;
        margin-right: auto;
    }

    /* .main_section .container .middle_section .discussion_part{
        margin-right: .75rem;
        margin-left: .75rem;
    } */
    .main_section .container .middle_section .discussion_part {
        max-width: 95%;
    }

    .main_section .container .middle_section .latest_all_cards .latest_card .text_section .details_text .react_icon {
        display: block;
        margin-top: 10px;
    }


    .footer ul li .footer_logo {
        margin-right: 20px;
        margin-left: 20px;
    }

    .footer ul li a {
        font-size: 13px;
        font-weight: 600;
        color: #FFFFFF;
    }

    .footer ul li .page_link {
        margin-right: 30px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {}


@media only screen and (min-height: 890px) {
    .footer {
        margin-top: 30px !important;
    }
}