{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% trans 'TheDjango.Dev - Blog about programming in Django ' %}{% endblock title %}</title>
    <meta name="description" content={% block meta_description %}{% endblock meta_description %}>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.svg' %}" type="image/svg+xml" />
    {% block css_style %}{% endblock css_style %}
    {% block css_responsive %}{% endblock css_responsive %}

    {% block head_script %}{% endblock head_script %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" /> 
    {% if '/pl/' in request.path %}
    <script>
        window.addEventListener("load", function() {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#f3f2f8",
                        "text": "#5c7291"
                    },
                    "button": {
                        "background": "#7B6CCC",
                        "text": "#ffffff"
                    }
                },
                "showLink": false,
                "position": "top",
                "static": true,
                "content": {
                    "message": "Ta strona wykorzystuje pliki cookie. Używamy informacji zapisanych za pomocą plików cookies w celu zapewnienia maksymalnej wygody w korzystaniu z naszego serwisu. Mogą też korzystać z nich współpracujące z nami firmy badawcze oraz reklamowe. Jeżeli wyrażasz zgodę na zapisywanie informacji zawartej w cookies kliknij na &bdquo;Zgadzam się&rdquo; w prawym górnym rogu tej informacji. Jeśli nie wyrażasz zgody, ustawienia dotyczące plików cookies możesz zmienić w swojej przeglądarce.",
                    "dismiss": "Zgadzam się"
                }
            })
        });
    </script>
    {% else %}
    <script>
        window.addEventListener("load", function() {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#f3f2f8",
                        "text": "#5c7291"
                    },
                    "button": {
                        "background": "#7B6CCC",
                        "text": "#ffffff"
                    }
                },
                "showLink": false,
                "position": "top",
                "static": true,
                "content": {
                    "message": "This site uses cookies. We use the information stored by cookies to provide maximum convenience in using our site. They may also be used by research and advertising companies that cooperate with us. If you agree to save the information contained in cookies, click on &bdquo;I agree&rdquo; in the upper right corner of this notice. If you do not agree, you can change your cookie settings in your browser.",
                    "dismiss": "Agree"
                }
            })
        });
    </script>
    {% endif %}


</head>

<body>
    {% include 'includes/navbar.html' %}

    <!-- {% block messages %}
    <ul class="messages" id="messages-list">
        {% if messages %}
        {% for message in messages %}
        <li>
            {% if message.tags %}
            <div class="alert alert-{{ message.tags }} msg fade show" role="alert">{{ message }}</div>
            {% else %}
            <div class="alert alert-info msg fade show" role="alert">{{ message }}</div>
            {% endif %}
        </li>
        {% endfor %}
        {% endif %}
    </ul>
    {% endblock %} -->

    {% if messages %}
    <link rel="stylesheet" href="{% static 'message/message.css' %}">

        <ul id="messag" class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>

            {% endfor %}
        </ul>

    {% endif %}

    <!-- {% if messages %}
    {% for message in messages %}
        <link rel="stylesheet" href="{% static 'message/message.css' %}">
        <div class="alert alert--{{message.tags}}">
            <p class="alert__message">{{message}}</p>
            <button class="alert__close">⨯</button>
        </div>

    {% endfor %}
    {% endif %} -->



    {% block content %}

    {% endblock content %}


    {% include 'includes/footer.html' %}
    <!-- <script src="assets/js/jquery-3.2.1.min.js"></script> -->

    <script src="{% static 'js/custom.js' %}"></script>


</body>

</html>