@media (min-width: 1200px) and (max-width: 1449px) {
    .container{
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
@media (min-width: 992px) and (max-width: 1100px){
    .container{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .main_section .container .left_section {
        width: 20%;
    }
    .main_section .container .right_section {
        width: 76%;
    }
    .btn_group a {
        font-size: 14px;
        padding: 8px 18px;
    }
    .main_section .container .right_section .bottom_section .card_section_parent .single_card .text_section .btn_group a {
        margin-right: 4px;
    }

    

}
@media (min-width: 768px) and (max-width: 991px) {
    .responsive_bar{
        display: block;
    }
    .container{
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .header_section .container {
        justify-content: space-between;
        padding-right: 20px;
    }
    .header_section .container ul {
        position: absolute;
        left: -2000px;
        display: none;
        height: 100vh;
        top: 0;
        width: 50%;
        background: #FFF;
        flex-direction: column;
        box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .header_section .container ul.active{
        display: block;
        animation: show_nav .5s forwards;
    }
    .header_section .container ul li{
        width: 100%;
        
    }
    .header_section .container ul li a {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 0px;
        display: block;
        text-align: center;
    }

    .header_section .container ul li a.active {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 0px;
        display: block;
        text-align: center;
        color: #7768CC;
    }

    .header_section .container ul li a::after{
        left: 0px;
        height: 2px;
        width: 48%;
    }
    .header_section .container ul li a::before {
        right: 0px;
        height: 2px;
        width: 48%;
    }


    .left_section{
        display: none;
    }
    .main_section .container .right_section {
        width: 100%;
        margin-left: 20px;
        box-sizing: border-box;
    }
    .main_section .container .right_section .bottom_section .card_section_parent .single_card .text_section .btn_group a {
        margin-right: 8px;
    }
    .btn_group a {
        font-size: 14px;
        padding: 7px 15px;
    }

    .main_section .container .right_section .bottom_section .card_section_parent .single_card .text_section p {
        font-size: 15px;
        max-width: 95%;
    }
    

}
@media only screen and (min-width: 320px) and (max-width: 767px){
    .header_section .container ul.active{
        animation: show_nav .5s forwards;
    }
    .header_section .container ul li{
        width: 100%;
        
    }
    .header_section .container ul li a {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 0px;
        display: block;
        text-align: center;
    }

    .header_section .container ul li a.active {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 0px;
        display: block;
        text-align: center;
        color: #7768CC;
    }
    
    .header_section .container ul li a::after{
        left: 0px;
        height: 2px;
        width: 48%;
    }
    .header_section .container ul li a::before {
        right: 0px;
        height: 2px;
        width: 48%;
    }
    .responsive_bar{
        display: block;
    }
    .header_section .container {
        justify-content: space-between;
        padding-right: 20px;
    }
    .header_section .container ul {
        position: absolute;
        left: -2000px;
        height: 100vh;
        top: 0;
        width: 50%;
        background: #fff;
        flex-direction: column;
        box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }
    .responsive_bar{
        display: block;
    }


    .container{
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
    .main_section .container .left_section {
        display: none;
    }
    .main_section .container .right_section {
        width: 100%;
        margin-left: 0px;
    }


    /* main Right start */
    

    .main_section .container .right_section .top_section {
        padding-left: 10px;
        padding-top: 8px;
        padding-bottom: 0px;
        padding-right: 10px;
    }
    .main_section .container .right_section .top_section .details_text p {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
    }
    .main_section .container .right_section .heading_text {
        font-size: 20px;
        font-weight: 700;
    }
    .main_section .container .right_section .top_section .details_text {
        padding-top: 10px;
        padding-bottom: 18px;
    }
    .main_section .container .right_section .top_section .couple_title_details .single_details h5 {
        /* padding-right: 10px; */
        font-weight: 700;
        font-size: 18px;
        width: 35%;
    }
    .main_section .container .right_section .top_section .couple_title_details .single_details p {
        font-size: 16px;
        width: 65%;
    }
    .main_section .container .right_section .top_section h4 {
        font-size: 20px;
    }
    .main_section .container .right_section .bottom_section .card_section_parent .single_card {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .main_section .container .right_section .bottom_section .card_section_parent .single_card .text_section p {
        font-size: 16px;
        padding-bottom: 18px;
        padding-top: 7px;
    }
    .main_section .container .right_section .bottom_section .card_section_parent .single_card .text_section h3 {
        font-size: 16px;
    }
    .main_section .container .right_section .bottom_section .card_section_parent .single_card .text_section .btn_group a {
        margin-right: 8px;
        margin-bottom: 11px;
    }

    .main_section .container .right_section .top_section .btn_group a {
        margin-right: 15px;
        margin-bottom: 11px;
    }

    .btn_group a {
        padding: 6px 13px 6px 16px;
        font-size: 15px;
        font-weight: 500;
    }
    .main_section .container .right_section .bottom_section .card_section_parent .single_card .text_section {
        padding-top: 11px;
        padding-left: 10px;
    }
    /* main Right End */
    

    .footer ul li .footer_logo {
        margin-right: 20px;
        margin-left: 20px;
    }
    .footer ul li a {
        font-size: 13px;
        font-weight: 600;
        color: #FFFFFF;
    }
    .footer ul li .page_link {
        margin-right: 30px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
   
}


@media only screen and (min-height: 890px){
    .footer{
        margin-top: 10px !important;
    }
}