@media (min-width: 1200px) and (max-width: 1449px) {
    .container{
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
@media (min-width: 992px) and (max-width: 1100px){
    .container{
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .main_section .container .left_section {
        width: 20%;
    }
    .main_section .container .right_section {
        width: 76%;
    }
    .btn_group a {
        font-size: 14px;
        padding: 8px 18px;
    }
    .main_section .container .right_section .bottom_section .card_section_parent .single_card .text_section .btn_group a {
        margin-right: 4px;
    }
    
    

}
@media (min-width: 768px) and (max-width: 991px) {
    .responsive_bar{
        display: block;
    }
    .container{
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .header_section .container {
        justify-content: space-between;
        padding-right: 20px;
    }
    .header_section .container ul {
        position: absolute;
        left: -2000px;
        display: none;
        height: 100vh;
        top: 0;
        width: 50%;
        background: #FFF;
        flex-direction: column;
        box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .header_section .container ul.active{
        display: block;
        animation: show_nav .5s forwards;
    }
    .header_section .container ul li{
        width: 100%;
        
    }
    .header_section .container ul li a {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 0px;
        display: block;
        text-align: center;
    }

    .header_section .container ul li a.active {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 0px;
        display: block;
        text-align: center;
        color: #7768CC;
    }

    .header_section .container ul li a::after{
        left: 0px;
        height: 2px;
        width: 48%;
    }
    .header_section .container ul li a::before {
        right: 0px;
        height: 2px;
        width: 48%;
    }


    .left_section{
        display: none;
    }
    .main_section .container .right_section {
        width: 100%;
        margin-left: 20px;
        box-sizing: border-box;
    }
    .main_section .container .right_section .bottom_section .card_section_parent .single_card .text_section .btn_group a {
        margin-right: 8px;
    }
    .btn_group a {
        font-size: 14px;
        padding: 9px 18px;
    }

    .main_section .container .right_section .bottom_section .card_section_parent .single_card .text_section p {
        font-size: 15px;
        max-width: 95%;
    }


    .btn_group {
        margin-right: 15px;
    }
    .main_section .container .right_section .bottom_section {
        padding-left: 30px;
        padding-right: 30px;
    }
    .main_section .container .right_section .bottom_section .half_section .heading h3 {
        font-size: 20px;
        
    }

    .footer {
        margin-top: 30px !important;
    }
    
    

}
@media only screen and (min-width: 320px) and (max-width: 767px){
    .header_section .container ul.active{
        animation: show_nav .5s forwards;
    }
    .header_section .container ul li{
        width: 100%;
        
    }
    .header_section .container ul li a {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 0px;
        display: block;
        text-align: center;
    }

    .header_section .container ul li a.active {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-right: 0px;
        display: block;
        text-align: center;
        color: #7768CC;
    }
    
    .header_section .container ul li a::after{
        left: 0px;
        height: 2px;
        width: 48%;
    }
    .header_section .container ul li a::before {
        right: 0px;
        height: 2px;
        width: 48%;
    }
    .responsive_bar{
        display: block;
    }
    .header_section .container {
        justify-content: space-between;
        padding-right: 20px;
    }
    .header_section .container ul {
        position: absolute;
        left: -2000px;
        height: 100vh;
        top: 0;
        width: 50%;
        background: #fff;
        flex-direction: column;
        box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.1);
    }
    .responsive_bar{
        display: block;
    }


    .container{
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
    .main_section .container .left_section {
        display: none;
    }
    .main_section .container .right_section {
        width: 100%;
        margin-left: 0px;
    }


    /* main Right start */
    

    .main_section .container .right_section .top_section .top_section_container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .main_section .container .right_section .top_section .top_section_container .heading{
        padding-top: 8px;
        padding-left: 10px;
    }
    .main_section .container .right_section .top_section .top_section_container .heading h3 {
        font-size: 20px;
        font-weight: 700;
        color: #231E1E;
    }
    .main_section .container .right_section .top_section .top_section_container .para_text{
        padding-left: 10px;
        padding-right: 10px;
    }
    .main_section .container .right_section .top_section .top_section_container .para_text p {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .main_section .container .right_section .top_section .top_section_container .container_image{
        border-radius: 0px;
    }
    .main_section .container .right_section .top_section .top_section_container .container_image img{
        border-radius: 0px;
        width: 100%;
    }
    /* .main_section .container .right_section .top_section .top_section_container .container_image.first {
        height: 245px;
    }
    .main_section .container .right_section .top_section .top_section_container .container_image.second {
        height: 310px;
    } */
    .main_section .container .right_section .top_section .top_section_container .heading_two{
        padding-left: 10px;
    }
    .main_section .container .right_section .top_section .top_section_container .heading_two h3 {
        font-size: 20px;
    }
    .btn_group {
        margin-right: 0px;
        padding-left: 10px;
    }
    .btn_group a {
        padding: 6px 13px 6px 16px;
        font-size: 15px;
        font-weight: 700;
        border-radius: 10px;
        margin-right: 16px;
    }




    .main_section .container .right_section .bottom_section .half_section {
        width: 100%;
    }
    .main_section .container .right_section .bottom_section .half_section.first{
        padding-bottom: 34px;
        border-bottom: 1px solid #D7D7D9;
    }
    .main_section .container .right_section .bottom_section {
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 15px;
        padding-top: 32px;
    }
    .main_section .container .right_section .bottom_section .half_section .heading {
        padding-left: 50px;
        padding-right: 50px;
    }

    .main_section .container .right_section .bottom_section .half_section .form_section form button {
        padding: 10px 23px 10px 23px;
        margin: 0 auto;
        display: block;
    }
    .main_section .container .right_section .bottom_section .half_section .heading h3 {
        font-size: 20px;
        font-weight: 700;
        width: 291px;
    }
    .main_section .container .right_section .bottom_section .half_section .heading h3 span{
        display: inline;
    }
    .main_section .container .right_section .bottom_section .half_section .heading p {
        font-size: 16px;
        line-height: 20px;
        width: 100%;
    }
    .main_section .container .right_section .bottom_section .half_section .mail_id_box {
        margin-left: auto;
        margin-right: auto;
    }
    .main_section .container .right_section .bottom_section .half_section .form_section form {
        box-shadow: none;
        border: none;
        border-radius: 0px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 0;
        margin-bottom: 22px;
    }
    /* main Right End */
    

    .footer ul li .footer_logo {
        margin-right: 20px;
        margin-left: 20px;
    }
    .footer ul li a {
        font-size: 13px;
        font-weight: 600;
        color: #FFFFFF;
    }
    .footer ul li .page_link {
        margin-right: 30px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .main_section .container .right_section .bottom_section .half_section .heading h3 {
        width: 100%;
        text-align: center;
    }
    .main_section .container .right_section .bottom_section .half_section .heading p {
        text-align: center;
    }
   
}


@media only screen and (min-height: 890px) and (min-width: 991px){
    .footer{
        margin-top: 30px !important;
    }
}

@media only screen and (min-height: 915px) and (min-width: 991px){
    .footer {
        margin-top: 30px !important;
    }
}